@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
    --color-*: initial;
    /* Content Colors */
    --color-content-primary: #ffffff;
    --color-content-secondary: #98959d;
    --color-content-tertiary: #666666;
    --color-content-brand: #9282fa;

    /* Background Colors */
    --color-background-primary: #151515;
    --color-background-secondary: #1e1e1e;
    --color-background-tertiary: #23242c;
    --color-background-brand: #9282fa;
    --color-background-highlights: #bdb4fa;

    /* Border Colors */
    --color-border-primary: #3e3c41;
    --color-border-secondary: #86818c;
    --color-border-brand: #9282fa;
    --color-border-divisor: #353339;

    /* Accent Colors */
    --color-accent-brand: #4f35e1;
    --color-accent-brand-light: #7262fa;
    --color-accent-blue: #027df0;
    --color-accent-blue-light: #16487a;
    --color-accent-yellow: #f0dc02;
    --color-accent-yellow-light: #75601b;
    --color-accent-orange: #f09102;
    --color-accent-orange-light: #75501b;

    --shadow-cta: 0 0 40px --alpha(var(--color-background-highlights) / 30%);

    /* Typography */
    --font-sans: var(--font-inter);

    --radius: 0.625rem;
    --color-background: var(--color-background-primary);
    --color-foreground: var(--color-content-primary);
    --color-card: var(--color-background-secondary);
    --color-card-foreground: var(--color-content-primary);
    --color-popover: var(--color-background-secondary);
    --color-popover-foreground: var(--color-content-primary);
    --color-primary: var(--color-content-brand);
    --color-primary-foreground: var(--color-content-primary);
    --color-secondary: var(--color-background-tertiary);
    --color-secondary-foreground: var(--color-content-primary);
    --color-muted: var(--color-background-tertiary);
    --color-muted-foreground: var(--color-content-secondary);
    --color-accent: var(--color-accent-yellow);
    --color-accent-foreground: var(--color-content-primary);
    --color-destructive: #dc2626;
    --color-destructive-foreground: #ffffff;
    --color-border: var(--color-border-primary);
    --color-input: var(--color-border-primary);
    --color-ring: var(--color-border-brand);
}

* {
    &:focus {
        @apply outline-border-brand outline-1;
    }
}

@layer base {
    body {
        @apply bg-background-primary text-content-primary font-sans antialiased;
    }
}

@utility container {
    @apply mx-auto;
    @variant 2xl {
        @apply max-w-[870px];
    }
}

@utility typo-title {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    font-weight: bold;
}
@utility typo-paragraph-medium {
    font-size: 0.875rem; /* 14px */
    line-height: 1.5rem; /* 24px */
    font-weight: normal;
}
@utility typo-paragraph-small {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    font-weight: normal;
}
@utility typo-label-large {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    font-weight: bold;
}
@utility typo-label-medium {
    font-size: 0.875rem; /* 14px */
    line-height: 1.5rem; /* 24px */
    font-weight: bold;
}
@utility typo-label-small {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    font-weight: bold;
}
@utility typo-link {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    font-weight: 500;
}

::-webkit-scrollbar {
    @apply size-4;
}

::-webkit-scrollbar-track {
    @apply bg-background-primary rounded-full;
}

::-webkit-scrollbar-thumb {
    @apply bg-background-tertiary border-5 border-background-primary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-border-divisor;
}
